@if (Pokemons is null)
{
    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue=false Mode="ProgressBarMode.Indeterminate" />
}
else
{
    <div>

        @for (int i = 0; i < NumberOfRows; i++) // filas
        {
            <div class="row">
                @foreach (var item in Pokemons.Skip(i * RowSize).Take(RowSize)) //columnas
                {
                    <div class="col mt-4">
                        <div class="card">
                            <div class="card-body bg-@item.Types.FirstOrDefault().PokemonType.Name">
                                <RadzenStack Orientation="Orientation.Vertical">
                                    <div class="bg-@item.Types.FirstOrDefault().PokemonType.Name">
                                        <div class="">
                                            <h5 class="card-title">@item.Name</h5>
                                            <img class="img-fluid" src="@item.Sprites.Front" alt="@item.Name" />
                                        </div>
                                    </div>
                                </RadzenStack>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <span class="bg-@item.Types.FirstOrDefault().PokemonType.Name rz-border-radius-6 text-decoration-none">
                                    <a href="/detail/@item.Name" class=""><RadzenText Text="Leer mas." TextAlign="Radzen.TextAlign.Center" TextStyle="Radzen.Blazor.TextStyle.Body2" class="rz-m-1 rz-text-contrast-color"/></a>
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>

        }

    </div>
}


@code {
    [Parameter] public IEnumerable<Pokemon> Pokemons { get; set; }
    [Parameter] public int NumberOfRows { get; set; } = 4;
    [Parameter] public int RowSize { get; set; } = 5;
}
